annotated-doc==0.0.5
-e git+ssh://git@github.com/bkibet-dev/BomaHealth.git@14683d1742a3ab58f47c3bb53cfe377ad24ae263#egg=bomahealth
certifi==2026.7.22
charset-normalizer==3.5.1
distlib==0.4.3
filelock==3.32.4
idna==3.19
iniconfig==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.3
pipenv==2026.8.0
platformdirs==4.11.5
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
python-discovery==1.6.0
requests==2.34.2
rich==15.0.0
setuptools==84.0.0
shellingham==1.5.4
typer==0.27.2
urllib3==2.7.0
virtualenv==21.7.7
MarkupSafe==3.0.3
Werkzeug==3.1.8
